:root {
  --button-color: #fa8142;
  --text-color: #ccc;
  --hover-text-color: #fff;
  --background-color: #1f1f1f;
  --text-gray-300: #cbd5e1;
  --text-gray-500: #6b7280;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  user-select: none;
  background: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 70px;
  background: linear-gradient(to right, #00dbde, #fc00ff);
  font-size: 1.4em;
}

.nav-item {
  padding: 0.2em 0.5em;
  text-transform: uppercase;
}

.nav-item:hover {
  cursor: pointer;
  color: var(--hover-text-color);
}

.about img {
  width: 300px;
  border-radius: 10%;
  filter: grayscale(100%);
  transform: translate(75%, -75%);
}

.about img:hover {
  filter: grayscale(0%);
}

.contact a:hover {
  color: var(--hover-text-color);
}

.contact-links img {
  width: 3em;
}

.space-left {
  transform: translate(300px, 50px);
}

.contact-imgs img {
  width: 4em;
  padding: 20px 10px;
}

.contact-imgs {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  margin-top: 30px;
  width: 21em;
  border: 5px solid transparent;
  border-radius: 15%;
  border-image: linear-gradient(to right, #67b26f, #4ca2cd);
  border-image-slice: 1;
}

.img-container {
  margin: 10px auto;
  width: 6em;
  height: 7.5em;
  padding: 10px;
  border: 2px solid #56a5eb;
  border-radius: 15%;
}

.img-container p {
  padding-top: 4px;
}

.img-container:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.9);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.projects img {
  width: 75em;
}

.button {
  text-align: center;
  width: 10em;
  height: 3em;
  border: 2px solid var(--button-color);
  padding-top: 10px;
}

.button:hover {
  background: var(--button-color);
  color: var(--hover-text-color);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(250, 129, 66, 0.9);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.button:active {
  transform: scale(0.98);
}

.imgs-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  max-width: 700px;
  place-items: center;
  margin: 10px auto;
}

.footer a {
  color: var(--text-gray-500);
}

.footer a:hover {
  color: var(--text-gray-300);
}

.dark-light-toggle-container {
  margin: 30px 30px;
  position: absolute;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .imgs-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .header {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    padding: 0;
    transform: translate(-300px, -50px);
    text-align: center;
  }

  .about {
    margin-top: 75px;
  }

  .about img {
    display: none;
  }

  .about p {
    font-size: 0.8em;
  }

  .projects p {
    font-size: 0.9em;
  }

  .projects img {
    width: 30em;
  }

  .contact-imgs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .repo {
    display: none;
  }

  .dark-light-toggle {
    display: none;
  }
}
