@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply flex h-[70px] w-screen select-none items-center justify-around text-2xl;
  background: linear-gradient(
    161.94deg,
    rgb(255, 140, 90) 7.34%,
    rgb(255, 84, 213) 21.14%,
    rgb(128, 142, 253) 68.19%,
    rgb(107, 215, 204) 96.01%
  );
}

.nav-item {
  @apply hidden rounded-lg p-1 py-3 px-5 font-normal uppercase text-white transition-all hover:cursor-pointer hover:bg-gray-200 hover:text-black dark:hover:bg-gray-800 dark:hover:text-white sm:px-3 sm:py-2 md:inline-block;
}

.footer {
  @apply mx-auto mb-8 flex w-full max-w-2xl flex-col items-start justify-center text-center;
}

.footer-hr {
  @apply mb-8 mt-8 w-full border-gray-100 dark:border-gray-100;
}

.footer-links {
  @apply grid w-full max-w-2xl grid-cols-1 gap-4 pb-16 sm:grid-cols-3;
}

.button {
  @apply mt-4 flex h-14 w-44 border-spacing-5 items-center justify-center rounded-lg text-center hover:bg-light-orange hover:text-white;
}
