@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*,
*::before,
*::before {
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

body {
  background-color: #b6d0e2;
  user-select: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 187.5%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header h2 {
  margin-top: 5px;
}

.links {
  font-size: 100%;
}

.links a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.links a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #09606d;
  transition: width 0.3s ease 0.1s, left 0.3s ease 0.1s;
  width: 0;
}

.links a:hover:after {
  width: 100%;
  left: 0;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about img {
  width: 300px;
  border-radius: 10%;
}

.about p {
  text-align: center;
  font-size: 18px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact p {
  font-size: 18px;
}

.contact .email {
  text-transform: lowercase;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.contact-links img {
  display: inline;
  width: 5%;
  padding-right: 15px;
}

.contact-links img:hover {
  cursor: pointer;
}

.stuff-i-use {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stuff-i-use p {
  font-size: 18px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects h3 {
  font-size: 25px;
}

.projects img {
  width: 80%;
}

.projects p {
  font-size: 18px;
}

.link:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .links {
    display: none;
  }
  .about p {
    font-size: 18.5px;
  }

  .contact-links img {
    padding: 10px;
    width: 60px;
  }

  .projects img {
    width: 370px;
  }

  .projects p {
    font-size: 19px;
  }
}
