<div class="grid grid-cols-2 place-items-center" id="about">
  <div class="ml-[27rem] mb-10">
    <h1 class="text-5xl font-semibold tracking-wider">Aidan Tomcy</h1>
    <div class="text-2xl">Web Developer. Programmer.</div>
    <div class="text-gray-400 text-xl pt-6">TypeScript and Rust developer.</div>
  </div>
  <div>
    <img src="/aidan.jpg" alt="" class="w-52 grayscale rounded-3xl mr-72" />
  </div>
</div>
