<footer
  class="mx-auto mb-8 flex w-full max-w-2xl flex-col items-start justify-center text-center"
>
  <hr class="mb-8 mt-8 w-full border-gray-100 dark:border-gray-400" />
  <div
    class="grid w-full max-w-2xl grid-cols-1 gap-4 pb-16 sm:grid-cols-3 dark:text-gray-400 text-gray-700"
  >
    <div class="flex flex-col space-y-4">
      <a href="/">Home</a>
      <a href="/#about">About</a>
      <a href="/#contact">Contact</a>
      <a href="/#stuff-i-use">Stuff I Use</a>
    </div>
    <div class="flex flex-col space-y-4">
      <a target="_blank" rel="noopener noreferrer" href="/projects.html"
        >Projects</a
      >
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/aidantomcy">GitHub</a
      ><a
        target="_blank"
        rel="noopener noreferrer"
        href="https://stackoverflow.com/users/15765063/aidan-tomcy"
        >Stack Overflow</a
      ><a
        target="_blank"
        rel="noopener noreferrer"
        href="https://codepen.io/aidantomcy">CodePen</a
      >
    </div>
    <div class="flex flex-col space-y-4">
      <a href="https://replit.com/@AidanTomcy">Replit</a>
      <a href="https://www.codewars.com/users/AidanTomcy">Codewars</a>
      <a href="https://codegrepper.com/profile/aidan-idqzkhobs5xn"
        >Code Grepper</a
      >
      <a href="https://open.spotify.com/user/us7xaidyrndzw7r3kr6thoeed"
        >Spotify</a
      >
    </div>
  </div>
</footer>
