---
import ThemeButton from "./ThemeButton.svelte";
---

<nav>
  <div class="ml-[-0.60rem]">
    <a
      class="text-xl font-semibold hidden md:inline-block p-1 sm:px-3 sm:py-2 rounded-lg tracking-wide hover:cursor-pointer hover:bg-gray-200 hover:text-black dark:hover:bg-dark-secondary dark:hover:text-white transition-all"
      href="/"
    >
      Home
    </a>
    <a
      class="text-xl font-normal hidden md:inline-block p-1 sm:px-3 sm:py-2 rounded-lg hover:cursor-pointer hover:bg-gray-200 hover:text-black dark:hover:bg-dark-secondary dark:hover:text-white transition-all text-gray-400"
      href="/#about"
    >
      About
    </a>
    <a
      class="text-xl font-normal hidden md:inline-block p-1 sm:px-3 sm:py-2 rounded-lg hover:cursor-pointer hover:bg-gray-200 hover:text-black dark:hover:bg-dark-secondary dark:hover:text-white transition-all text-gray-400"
      href="/#contact"
    >
      Contact
    </a>
    <a
      class="text-xl font-normal hidden md:inline-block p-1 sm:px-3 sm:py-2 rounded-lg hover:cursor-pointer hover:bg-gray-200 hover:text-black dark:hover:bg-dark-secondary dark:hover:text-white transition-all text-gray-400"
      href="/#stuff-i-use"
    >
      Stuff I Use
    </a>
    <a
      class="text-xl font-normal hidden md:inline-block p-1 sm:px-3 sm:py-2 rounded-lg hover:cursor-pointer hover:bg-gray-200 hover:text-black dark:hover:bg-dark-secondary dark:hover:text-white transition-all text-gray-400"
      href="/#projects"
    >
      Projects
    </a>
  </div>
  <ThemeButton client:load />
</nav>

<style>
  nav {
    @apply flex items-center justify-between w-full relative max-w-2xl mx-auto pt-8 pb-8 sm:pb-16;
  }
</style>
