@use "./mixins";

:root {
  --button-color: #fa8142;
  --text-color: #ccc;
  --hover-text-color: #fff;
  --background-color: #1f1f1f;
  --text-gray-300: #cbd5e1;
  --text-gray-500: #6b7280;
  --gradient-color-1: #fa8142;
  --gradient-color-2: #ff4088;
  --gradient-angle: 270deg;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

.dark {
  @include mixins.theme($darkTheme: true, $lightTheme: false);
}

.light {
  @include mixins.theme($darkTheme: false, $lightTheme: true);
}

::selection {
  background: #ff8c5a;
  color: #fff;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

::-webkit-scrollbar {
  background-image: initial;
  background-color: transparent;
  height: 8px;
  width: 8px;
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
  border-color: initial;
  box-shadow: none;
  background-image: initial;
  background-color: #555;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  min-height: 40px;

  &:hover {
    background: #404344;
  }

  &:active {
    background: #4a4c4d;
  }
}

::-webkit-scrollbar-track {
  margin: 3px 0;
}

.gradient-text {
  background-image: linear-gradient(
    var(--gradient-angle),
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
  background-clip: text;
  color: transparent;
  padding-bottom: 0.6rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 2.5rem;
  margin-bottom: 4rem;

  & > img {
    width: 300px;
    border-radius: 1rem;
    margin-left: 20rem;
  }

  h1 {
    width: 350px;
  }

  h2 {
    --gradient-color-1: #00aaff;
    --gradient-color-2: #00ff6c;
    --gradient-angle: 90deg;
    width: 275px;
  }
}

.about {
  img {
    width: 300px;
    border-radius: 10%;
    filter: grayscale(100%);
    translate: 75% -75%;
    margin-top: 1.5rem;

    &:hover {
      filter: grayscale(0%);
    }
  }

  p {
    width: clamp(50ch, 50%, 75ch);
  }
}

.contact {
  a:hover {
    color: var(--hover-text-color);
  }
}

.contact-links {
  img {
    width: 3em;
  }
}

.contact-imgs {
  margin-top: 30px;
  width: 21em;
  border: 3.5px solid #062b44;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 4em;
    padding: 20px 10px;

    &:hover {
      transition: transform 0.2s ease-in;
    }
  }

  .stack-overflow-image {
    width: 3.5em;
  }
}

.img-container {
  margin: 10px auto;
  width: 6em;
  height: 7.5em;
  padding: 10px;
  border: 2px solid #56a5eb;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    padding-top: 4px;
  }

  &:hover {
    translate: 0 -0.3rem;
    transition: translate 150ms;
  }
}

.projects {
  img {
    width: 75em;
    border-radius: 1rem;
  }
}

.button {
  border: 2px solid var(--button-color);

  &:hover {
    translate: 0 -0.1rem;
    transition: background-color 0.4s ease;
  }

  &:active {
    scale: 0.98;
  }
}

.imgs-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  max-width: 700px;
  place-items: center;
  margin: 10px auto;
}

.footer {
  a {
    color: var(--text-gray-500);

    &:hover {
      color: var(--text-gray-300);
    }
  }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .navbar {
    display: none;
  }

  .imgs-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .header {
    margin: 7vw 0;

    .header-text {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & > img {
      display: none;
    }
  }

  .about {
    margin-top: 75px;

    img {
      display: none;
    }

    p {
      font-size: 0.8em;
    }
  }

  .projects {
    p {
      font-size: 0.9em;
    }

    img {
      width: 30em;
    }
  }

  .contact-imgs {
    width: 75vw;
    display: flex;
    justify-content: center;
  }

  .repo {
    display: none;
  }

  .dark-light-toggle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
